.button-pink {
    background-color: #E685AE;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-pink:hover {
    background-color: #FFCDE5;
    color: white;
}

.button-green {
    background-color: #A9B245;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-green:hover {
    background-color: #D3DA80;
    color: white;
}

.button-green-invoice {
    background-color: #A9B245;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    /* margin: 5px 5px; */
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-green-invoice:hover {
    background-color: #D3DA80;
    color: white;
}

.button-pink:disabled {
    background-color: #c19dac; 
    cursor: not-allowed; 
}

.button-green:disabled {
    background-color: #b5b98a; 
    cursor: not-allowed; 
}
.button-brown {
    background-color: #865C3A;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-brown:hover {
    background-color: #A27D60;
    color: white;
}

.button-red {
    background-color: #BA1A1A;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-red:hover {
    background-color: #e35b5b;
    color: white;
}
.button-red:disabled {
    background-color: #a04646; 
    cursor: not-allowed; 
}

.button-grey {
    background-color: #909094;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-grey:hover {
    background-color: #F1F0F4;
    color: white;
}

.button-orange {
    background-color: #EEA604;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

.button-orange:hover {
    background-color: #D3DA80;
    color: white;
}

.button-orange:disabled {
    background-color: #C48B0C; 
    cursor: not-allowed; 
}
