.FormRewardInventory {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.input-form {
    padding-left: 200px;
    padding-right: 200px;
    overflow-x: auto;
}

.font-reynaldo {
    font-family: 'Reynaldo', serif;
}

#page-title {
    font-size: xx-large;
}

.input-label {
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
}