.TenantRegistrationForm {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.input-form-tenant {
    padding-left: 10px;
    margin-top: 15px;
    width: 450px;
    align-content: center;
}

.columns-input {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.columns-2 {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.font-reynaldo {
    font-family: 'Reynaldo', serif;
}

#page-title {
    font-size: xx-large;
}

.input-label {
    font-size: large;
}

#modal-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 80%;
    height: 60%;
    max-width: 400px;
    max-height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
}